{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block page_contents %}
	{# for article in articles #}
		<h2>Titre H2</h2>
		<p>article.body</p>
	{# endfor #}
{% endblock %}
